mixin text-field(caption, placeholder)
  .form-text-field
    label.form-element-caption= caption
    input.input-btn(type="text" name="data" placeholder= placeholder)

mixin masked-text-field(caption, placeholder)
  .form-masked-text-field
    label.form-element-caption= caption
    input.input-btn.date(type="text" name="data" placeholder= placeholder)

mixin date-dropdown(caption_start, caption_end)
  .form-date-dropdown
    .date-dropdown-start
      label.form-element-caption= caption_start
      i.glyphicon.glyphicon-down
      input.input-btn.datepicker-here(id="date-start" type="text" name="data" placeholder="ДД.ММ.ГГГГ")
    .date-dropdown-end
      label.form-element-caption= caption_end
      i.glyphicon.glyphicon-down
      input.input-btn(id="date-end" type="text" name="data" placeholder="ДД.ММ.ГГГГ")

mixin filter-date-dropdown(caption)
  .form-filter-date-dropdown
    label.form-element-caption= caption
    i.glyphicon.glyphicon-down
    input.input-btn.datepicker-here(id="date-filter" type="text" name="data")

mixin subscription-text-field(caption, placeholder)
  .form-subscription-text-field
    label.form-element-caption= caption
    i.glyphicon.glyphicon-next
    input.input-btn(type="text" name="data" placeholder= placeholder)

//- +quantity-dropdown(options)(id="guests-quantity" class="guests || rooms")
mixin quantity-dropdown(items, label, caption)
  .iqdropdown&attributes(attributes)
    label.form-element-caption= caption
    button.iqdropdown-selection.input-btn= label
      span.glyphicon.glyphicon-down
    .iqdropdown-menu
      - for (let i = 0; i < items.length; i++){
          .iqdropdown-menu-option(
            data-id= items[i].dataID
            data-mincount= items[i].minCount || 0
            data-maxcount= items[i].maxCount || 9
            data-defaultcount= items[i].defaultcount || items[i].minCount || 0
          )
            div
              p.iqdropdown-item= items[i].text
      - }

mixin expandable-checkbox-list(caption, list, modClass)
  .form-expandable-checkbox-list(class= modClass)
    label.form-element-caption= caption
      - if (modClass == 'isExpandable'){
          i.glyphicon.glyphicon-down
      - }
    .expandable-checkbox-menu
      - for (let i = 0; i < list.length; i++){
          .checkbox
            input.checkbox-input(id= list[i].id type="checkbox" name= list[i].name value= list[i].value)
            label.checkbox-label(for= list[i].id)= list[i].text
      - }

mixin radio-buttons()
  .form-radio-buttons
    .man-btn
      input.radio-input(id="man" type="radio" name="sex" value="radio1" checked)
      label.radio-label(for="man") Мужчина
    .woman-btn
      input.radio-input(id="woman" type="radio" name="sex" value="radio2")
      label.radio-label(for="woman") Женщина
      
mixin toggle()
  .form-toggle
    input.toggle-input(id="subscribe" type="checkbox" name="mailList" value="toggle")
    label.toggle-label(for="subscribe") Получать спецпредложения

mixin like-button(count)
  .like-button&attributes(attributes)
    .heart
    i.likes-count= count

mixin rute-button 
  .rute-button
    input(id="star-4" type="radio" name="reviewStars")
    label(title="gorgeous" for="star-4")

    input(id="star-3" type="radio" name="reviewStars")
    label(title="good" for="star-3")

    input(id="star-2" type="radio" name="reviewStars")
    label(title="regular" for="star-2")

    input(id="star-1" type="radio" name="reviewStars")
    label(title="poor" for="star-1")

    input(id="star-0" type="radio" name="reviewStars")
    label(title="bad" for="star-0")

.ui-kit
  -
    var guests = [
      {text: 'взрослые', dataID: 'adults', defaultCount: 0},
      {text: 'дети', dataID: 'children', defaultCount: 0},
      {text: 'младенцы', dataID: 'babies', defaultCount: 0}
    ]
    var rooms = [
      {text: 'спальни', dataID: 'bedrooms', defaultCount: 0},
      {text: 'кровати', dataID: 'beds', defaultCount: 0},
      {text: 'ванные комнаты', dataID: 'bathrooms', defaultCount: 0}
    ]
    var includingList = [
      {id: 'breakfast', name: 'includ', value: 'check1', text: 'Завтрак'},
      {id: 'desk', name: 'includ', value: 'check2', text: 'Письменный стол'},
      {id: 'feedingChair', name: 'includ', value: 'check3', text: 'Стул для кормления'},
      {id: 'crib', name: 'includ', value: 'check4', text: 'Кроватка'},
      {id: 'tv', name: 'includ', value: 'check5', text: 'Телевизор'},
      {id: 'shampoo', name: 'includ', value: 'check6', text: 'Шампунь'},
      {id: 'tv2', name: 'includ', value: 'check7', text: 'Телевизор'},
      {id: 'shampoo2', name: 'includ', value: 'check8', text: 'Шампунь'}
    ]
    var rulesList = [
      {id: 'isSmoke', name: 'rules', value: 'check1', text: 'Можно курить'},
      {id: 'isPets', name: 'rules', value: 'check2', text: 'Можо с питомцами'},
      {id: 'isGuests', name: 'rules', value: 'check3', text: 'Можно приглосить гостей (до 10 человек)'}
    ]
  +text-field("Text Field", "Email")
  +masked-text-field("Masked Text Field", "ДД.ММ.ГГГГ")
  +date-dropdown("Date Dropdown", "Date Dropdown")
  +filter-date-dropdown("Filter Date Dropdown")
  +subscription-text-field("Subscription Text Field", "Email")
  +quantity-dropdown(rooms, "Сколько комнат", "Dropdown")(class="isSelectionRooms")
  +quantity-dropdown(guests, "Сколько гостей", "Dropdown")(class="isSelectionGuests")
  +expandable-checkbox-list("Expandable checkbox list", includingList, 'isExpandable')
  +expandable-checkbox-list("Checkbox buttons", rulesList)

  label.form-element-caption Radio buttons
  +radio-buttons()

  label.form-element-caption Toggle
  +toggle()
  
  label.form-element-caption Like button
  .ui-kit-like-button
    +like-button('2')
    +like-button('12')(class="liked")

  label.form-element-caption Rute button
  +rute-button