mixin text-field(caption, placeholder)
  .form-text-field
    label.form-element-caption= caption
    input.input-btn(type="text" name="data" placeholder= placeholder)

mixin masked-text-field(caption, placeholder)
  .form-masked-text-field
    label.form-element-caption= caption
    input.input-btn.date(type="text" name="data" placeholder= placeholder)

mixin date-dropdown(caption_start, caption_end)
  .form-date-dropdown
    .date-dropdown-start
      label.form-element-caption= caption_start
      i.glyphicon.glyphicon-down
      input.input-btn.datepicker-here(id="date-start" type="text" name="data" placeholder="ДД.ММ.ГГГГ")
    .date-dropdown-end
      label.form-element-caption= caption_end
      i.glyphicon.glyphicon-down
      input.input-btn(id="date-end" type="text" name="data" placeholder="ДД.ММ.ГГГГ")

mixin filter-date-dropdown(caption)
  .form-filter-date-dropdown
    label.form-element-caption= caption
    i.glyphicon.glyphicon-down
    input.input-btn.datepicker-here(id="date-filter" type="text" name="data")

mixin subscription-text-field(caption, placeholder, subLink)
  .form-subscription-text-field
    label.form-element-caption= caption
    a.subscribe-btn.glyphicon-next(href= subLink)
    input.input-btn(type="text" name="data" placeholder= placeholder)

//- +quantity-dropdown(options)(id="guests-quantity" class="guests || rooms")
mixin quantity-dropdown(items, label, caption)
  .iqdropdown&attributes(attributes)
    label.form-element-caption= caption
    button.iqdropdown-selection.input-btn= label
      span.glyphicon.glyphicon-down
    .iqdropdown-menu
      - for (let i = 0; i < items.length; i++){
          .iqdropdown-menu-option(
            data-id= items[i].dataID
            data-mincount= items[i].minCount || 0
            data-maxcount= items[i].maxCount || 9
            data-defaultcount= items[i].defaultcount || items[i].minCount || 0
          )
            div
              p.iqdropdown-item= items[i].text
      - }

mixin checkbox-list(caption, list, modClass)
  .form-expandable-checkbox-list(class= modClass)
    label.form-element-caption= caption
      - if (modClass == 'isExpandable'){
          i.glyphicon.glyphicon-down
      - }
    .expandable-checkbox-menu
      - for (let i = 0; i < list.length; i++){
          .checkbox
            - if (modClass == 'isRich'){
                h3.rich-checkbox-title= list[i].title
            - }
            input.checkbox-input(id= list[i].id type="checkbox" name= list[i].name value= list[i].value)
            label.checkbox-label(for= list[i].id)= list[i].text
      - }

mixin radio-buttons()
  .form-radio-buttons
    .man-btn
      input.radio-input(id="man" type="radio" name="sex" value="radio1" checked)
      label.radio-label(for="man") Мужчина
    .woman-btn
      input.radio-input(id="woman" type="radio" name="sex" value="radio2")
      label.radio-label(for="woman") Женщина
      
mixin toggle()
  .form-toggle
    input.toggle-input(id="subscribe" type="checkbox" name="mailList" value="toggle")
    label.toggle-label(for="subscribe") Получать спецпредложения

mixin like-button(count)
  .like-button&attributes(attributes)
    .heart
    i.likes-count= count

mixin rute-button 
  .rute-button
    input(id="star-4" type="radio" name="reviewStars")
    label(title="gorgeous" for="star-4")

    input(id="star-3" type="radio" name="reviewStars")
    label(title="good" for="star-3")

    input(id="star-2" type="radio" name="reviewStars")
    label(title="regular" for="star-2")

    input(id="star-1" type="radio" name="reviewStars")
    label(title="poor" for="star-1")

    input(id="star-0" type="radio" name="reviewStars")
    label(title="bad" for="star-0")

mixin buttons(btn_class, btn_href, caption)
  a(class= btn_class href= btn_href)= caption

mixin pagination(pages)
  .pagination-body
    .pagination-btn
      - for (let i = 0; i < pages.length; i++){
          - if (i == 0){
              a.start-page.active-page(id=`page-${pages[i].number}` href= pages[i].href)= pages[i].number
          - } else if (i == pages.length - 1 ){
              a.final-page(id=`page-${pages[i].number}` href= pages[i].href)= pages[i].number
          - } else {
              a(id=`page-${pages[i].number}` href= pages[i].href)= pages[i].number
          - }
      - }
      a.next-page
    .pagination-variants-count
      p= `1-12 из 100+ вариантов аренды`

mixin range-slider()
  .range-slider
    .range-slider-title
      h3.form-element-caption Range slider
      span.amount-interval
    input.js-range-slider(type="text" name="my_range" value="")


mixin bullet-list(caption, bulletList)
  .bullet-list
    h3.form-element-caption= caption
    ul
      - for(i = 0; i < bulletList.length; i++){
          li.bullet-list-element= bulletList[i].title
      - }

mixin comment(commentInf)
  .comment
    .comment-title
      img.comment-title-avatar(src= commentInf.src, alt="avatar")
      h3.comment-title-author= commentInf.author
        span.comment-title-date #{commentInf.date} назад 
    .comment-body
      +like-button(commentInf.likeCount)(id="comment-like", class="liked")
      p.comment-body-text= commentInf.text

mixin room-infomation(infList)
  .room-infomation
    img.room-infomation-icon(src= infList.src, alt="icon")
    h3.room-infomation-title= infList.title
      span.room-infomation-desc #{infList.desc}


.ui-kit
  -
    var guests = [
      {text: 'взрослые', dataID: 'adults', defaultCount: 0},
      {text: 'дети', dataID: 'children', defaultCount: 0},
      {text: 'младенцы', dataID: 'babies', defaultCount: 0}
    ]
    var rooms = [
      {text: 'спальни', dataID: 'bedrooms', defaultCount: 0},
      {text: 'кровати', dataID: 'beds', defaultCount: 0},
      {text: 'ванные комнаты', dataID: 'bathrooms', defaultCount: 0}
    ]
    var includingList = [
      {id: 'breakfast', name: 'includ', value: 'check1', text: 'Завтрак'},
      {id: 'desk', name: 'includ', value: 'check2', text: 'Письменный стол'},
      {id: 'feedingChair', name: 'includ', value: 'check3', text: 'Стул для кормления'},
      {id: 'crib', name: 'includ', value: 'check4', text: 'Кроватка'},
      {id: 'tv', name: 'includ', value: 'check5', text: 'Телевизор'},
      {id: 'shampoo', name: 'includ', value: 'check6', text: 'Шампунь'},
      {id: 'tv2', name: 'includ', value: 'check7', text: 'Телевизор'},
      {id: 'shampoo2', name: 'includ', value: 'check8', text: 'Шампунь'}
    ]
    var rulesList = [
      {id: 'isSmoke', name: 'rules', value: 'check1', text: 'Можно курить'},
      {id: 'isPets', name: 'rules', value: 'check2', text: 'Можо с питомцами'},
      {id: 'isGuests', name: 'rules', value: 'check3', text: 'Можно приглосить гостей (до 10 человек)'}
    ]
    var servicesList = [
      {id: 'hall', name: 'services', value: 'check1', text: 'Широкий коридор в номере не менее 91см', title: 'Широкий коридор'},
      {id: 'helper', name: 'services', value: 'check2', text: 'На 1 этаже вас встретит специалист и проводит до номера', title: 'Помощник для инвалидов'}
    ]
    var pagination = [
      {href: '', number: '1'},
      {href: '', number: '2'},
      {href: '', number: '3'},
      {href: '', number: '4'},
      {href: '', number: '5'},
      {href: '', number: '6'},
      {href: '', number: '7'},
      {href: '', number: '8'},
      {href: '', number: '9'},
      {href: '', number: '10'},
      {href: '', number: '11'},
      {href: '', number: '12'},
      {href: '', number: '13'},
      {href: '', number: '14'},
      {href: '', number: '15'},
    ]
    var bulletList = [
      {title: 'Нельзя с питомцами'},
      {title: 'Без вечеринок и мероприятия'},
      {title: 'время прибытия - после 13:00, а выезд до 12:00'}
    ]
    var comments = {
      src: '../assets/img/avatar.png', 
      author: 'Мурад Сарафанов', 
      text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 
      date: '5 дней', 
      likeCount: '12'
    }
    var roomInfData = [
      {src: '../assets/img/smile.png', title: 'Комфорт', desc: 'Шумопоглощающие стены'},
      {src: '../assets/img/location_city.png', title: 'Удобство', desc: 'Окно в каждой из спален'}
    ]

  +text-field("Text Field", "Email")
  +masked-text-field("Masked Text Field", "ДД.ММ.ГГГГ")
  +date-dropdown("Date Dropdown", "Date Dropdown")
  +filter-date-dropdown("Filter Date Dropdown")
  +subscription-text-field("Subscription Text Field", "Email", "")
  +quantity-dropdown(rooms, "Сколько комнат", "Dropdown")(class="isSelectionRooms")
  +quantity-dropdown(guests, "Сколько гостей", "Dropdown")(class="isSelectionGuests")
  +checkbox-list("Expandable checkbox list", includingList, 'isExpandable')
  +checkbox-list("Checkbox buttons", rulesList)
  +checkbox-list("Rich checkbox buttons", servicesList, 'isRich')

  label.form-element-caption Radio buttons
  +radio-buttons()

  label.form-element-caption Toggle
  +toggle()
  
  label.form-element-caption Like button
  .ui-kit-like-button
    +like-button('2')
    +like-button('12')(class="liked")

  label.form-element-caption Rute button
  +rute-button

  label.form-element-caption Buttons
  +buttons("sm-btn", "", "clike me")
  +buttons("empty-btn", "", "clike me")
  +buttons("first-simple-btn", "", "clike me")
  +buttons("second-simple-btn", "", "clike me")
  +buttons("lg-btn", "","Перейти к оплате")

  label.form-element-caption Pagination
  +pagination(pagination)
  +range-slider()
  +bullet-list("Правила", bulletList)
  +comment(comments)
  +room-infomation(roomInfData[0])
  +room-infomation(roomInfData[1])