block form-search-rooms
  .search-rooms
    form(action="", method="", name="search-rooms")
      h1.search-rooms-title Найдём номера под ваши пожелания
      +date-dropdown("Прибытие", "Выезд")
      +quantity-dropdown(guests, "Сколько гостей", "Гости")(class="isSelectionGuests")
      +buttons("lg-btn", "", "Подобрать номер")

block form-signUp
  .signUp
    form(action="", method="", name="signUp")
      h1.signUp-title Регистрация аккаунта
      +text-field("", "Имя")
      +text-field("", "Фамилия")
      +radio-buttons()
      +date-birthday("Дата рождения")
      +text-field("Данные для входа в сервис", "Email")
      +text-field("", "Пароль")(type="password")
      +toggle()
      +buttons("lg-btn", "", "Перейти к оплате")
      .isSignIn
        p Уже есть аккаунт на Toxin
        +buttons("empty-btn", "", "Войти")

block form-signIn
  .signIn
    form(action="", method="", name="signIn")
      h1.signIn-title Войти
      +text-field("", "Email")
      +text-field("", "Пароль")(type="password")
      +buttons("lg-btn", "", "Войти")
      .isSignUp
        p Нет аккаунта на Toxin?
        +buttons("empty-btn", "", "Создать")

mixin room-card(dataRooms)
  .room-card
    .owl-carousel.owl-theme
      - for (let i = 0; i < dataRooms.img.length; i++){
          img.room-card-img(src= dataRooms.img[i].src alt= dataRooms.img[i].alt)
      - }
    .room-info
      .short-info
        .room-number(class= dataRooms.extraClass)
          span №
          h2= dataRooms.roomNumb
        .room-price
          span #{dataRooms.price}&#8381; 
            i в сутки
      .room-rating-reviews
        .rating
          +rute-button(dataRooms.rating, id= dataRooms.roomNumb)
        .reviews
          span= dataRooms.reviewsCount
            i  Отзывов

+room-card(roomsInfo[0])
+room-card(roomsInfo[1])

block inRoomCard
  .in-room-card
    form(action="", method="", name="signIn")
      .short-info
        .room-number(class= roomsInfo[0].extraClass)
          span №
          h2= roomsInfo[0].roomNumb
        .room-price
          span #{roomsInfo[0].price}&#8381; 
            i в сутки
      +date-dropdown("Прибытие", "Выезд")(id="in-room-card-date")
      +quantity-dropdown(guests, "Сколько гостей", "Гости")(class="isSelectionGuests")
      .cost-calculation
        ul 
          li
            span.price-at-day #{roomsInfo[0].price}&#8381; x 4 суток
            span.sum-price.at-days
          li
            span.serv-price Сбор за услуги: скидка 2 179&#8381; 
            span.sum-price 0&#8381;
          li
            span.extra-serv-price Сбор за дополнительные услуги
            span.sum-price.extra-price 300&#8381;
      .total-cost
        h2 Итого
        span.line
        h2.total-price
      +buttons("lg-btn", "", "Забронировать")